body {
    background-color: #fff;
    color: #000;
    font-family: "Cascadia Code", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 42rem;
    height: 5rem;
}

.toggles {
    display: grid;
    grid-template: auto / 2fr 1fr 1fr 0.5fr;
    justify-items: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.toggles select {
    width: 100%;
    text-transform: capitalize;
    border-radius: 5rem;
    border: 2px solid #2c0769;
    padding: 0.2em;
}

header,
footer {
    background-color: #2c0769;
    color: #fff;
    text-align: center;
}

header {
    border-radius: 0 0 1em 1em;
}

footer {
    border-radius: 1em 1em 0 0;
}

header h1 {
    margin: 0;
    padding: 0.5em;
    letter-spacing: 5px;
}

footer a {
    color: #fff;
}

footer a:visited {
    font-weight: bold;
}

main {
    padding: 0.5rem;
}

.info {
    display: grid;
    grid: 1fr / 2fr 1fr 1fr 0.5fr;
    place-items: center;
}

.info p[id^="info_"] {
    font-weight: bolder;
    text-align: center;
}

details>summary {
    list-style-type: '➡️ ';
    cursor: pointer;
}

details[open]>summary {
    list-style-type: '⬇️ ';
}

details div {
    padding: 0.5rem 0.5rem 0;
}

p#error_message {
    color: #f00;
    font-weight: bold;
    text-align: center;
}

a#release-link {
    color: hsl(103, 100%, 50%);
}

.hide {
    display: none;
}

.show {
    display: inherit;
}